<div class="navbar">
  <div class="navbar-header">
    <h1>Budget App</h1>
  </div>
  <ul class="navbar-list">
    <li class="nav-item">
      <form action="/register" method="post">
        <button class="nav-btn" type="submit">Register</button>
      </form>
    </li>
    <li class="nav-item">
      <form action="/loginmain" method="post">
        <button class="nav-btn" type="submit">Login</button>
      </form>
    </li>
  </ul>
</div>