<div class="navbar">
  <div class="navbar-header">
    <h1>Budget App</h1>
  </div>
  <ul class="navbar-list">
    <li class="nav-item">
      <form action="/home" method="get">
          <button class="nav-btn" type="submit">HOME</button>
      </form> 
    </li>
    <li class="nav-item">
      <form action="/services" method="post">
        <button class="nav-btn" type="submit">SERVICES</button>
      </form>
    </li>
    <li class="nav-item">
      <form action="/logout" method="post">
        <button class="nav-btn" type="submit">LOGOUT</button>
      </form>
    </li>
  </ul>
</div>