<h1>Login</h1>
<form method="post">
    <input name="username" placeholder="Enter Username"><br>
    <input name="password" placeholder="Enter Password" type="password"><br>
    <input name="login" value="Log in" type="submit">
    <input name="register" value="Register" type="submit">
</form>
