<div>{{> header}}</div>

<div class="transaction">
    <h1>Welcome to your Dashboard</h1>

    <div class="add-view-options">
        <div class="add-data">
            <form action="/transaction" method="get">
                <button type="submit" value="Add data"/>Add Data</button>
            </form>
        </div>
        <div class ="get-income">
            <form action="/getIncome" method="post">
                <button name="getIncome" type="submit" value="Get Income">Get Income</button>
            </form>
        </div>
        <div class ="get-expenses">
            <form action="/getExpense" method="post">
                <button name="getExpense" type="submit" value="Get Expenses">Get Expenses</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h3>Income</h3>
            <div class="tab">
                <button class="tablinks" onclick="openTabIncome(event, 'Pie')">Pie</button>
                <button class="tablinks" onclick="openTabIncome(event, 'Treemap')">Treemap</button>
                </div>

                <div id="Pie" class="tabcontent">
                <h3>Pie</h3>
                <p>Income as a Pie chart</p>
                </div>

                <div id="Treemap" class="tabcontent">
                <h3>Treemap</h3>
                <p>Income as a Treemap</p>
            </div>
        </div>
        <div class="col-6">
            <h3>Expenses</h3>
            <div class="tab">
                <button class="tablinks" onclick="openTabExpense(event, 'PieExpense')">Pie</button>
                <button class="tablinks" onclick="openTabExpense(event, 'TreemapExpense')">Treemap</button>
                </div>

                <div id="PieExpense" class="tabcontent2">
                <h3>Pie</h3>
                <p>Expenses as a Pie chart</p>
                </div>

                <div id="TreemapExpense" class="tabcontent2">
                <h3>Treemap</h3>
                <p>Expenses as a Treemap</p>
            </div>
        </div>
    </div>
</div>

<script>
function openTabIncome(evt, chartType) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(chartType).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<script>
function openTabExpense(evt, chartType) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(chartType).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>