{{>headermain}}

<div class ="main">
    <h1>Welcome To The Budgeting App</h1>
</div>

<div class = "row">
<h2>We Aim To Help You Plan Your Financial Goals By Offering The Following Services</h2>
</div>
<div class = "col">
    <div class="row">
        <h3>Start By Adding Your Income And Expenses</h3>
    </div>
    <div class="row">
        <h4>Use our CSV File Template To Speed Up Adding Your Data</h4>
    </div>
</div>

<div class = "col">
    <div class="row">
        <h3>Struggling to Stay Within Your Monthly Budget Goal?</h3>
    </div>
    <div class="row">
        <h4>Contact Our Financial Managers!</h4>
    </div>
</div>

<div class = "col">
    <div class="row">
        <h3>Need Help Investing Your Money?</h3>
    </div>
    <div class="row">
        <h4>Contact Our Wealth Management Companies!</h4>
    </div>
</div>