<div class ="main">
    <h1>Welcome To The Budgeting App</h1>
    <p>If you have an account registered already, please login to view your profile.</p>
    <p>Don't have an account? Please register an account to create a profile to access our services.</p>
</div>

{{>headermain}}