{{>headermain}}
<div>
    <h1>Register</h1>
    <form action="/register" method="post">
        <input name="firstname" placeholder="First Name" required><br>
        <input name="lastname" placeholder="Last Name" required><br>
        <input name="email" placeholder="Email" type="email" required><br>
        <input name="username" placeholder="Username" required><br>
        <input name="password" placeholder="Password - minimum 6 digits long" type="password" required><br>
        <input name="confirm" placeholder="Confirm Password" type="password" required><br>
        <button name="register" value="Register" type="submit">Register</button>
    </form>
</div>