{{> header}}

<div class="header">
    <h1>Services Page</h1>
</div>

<div class="services">
    <div class="service-1">
        <img src="../public/images/financial-manager.jpg" class="services-img">
        <br>
        <form action="/services/financial-managers" method="post">
            <button type="submit">View Financial Manager</button>
        </form>
    </div>

    <div class="service-2">
        <img src="../public/images/budget-goal.png" class="services-img">
        <br>
        <form action="/services/wealth-management" method="post">
            <button type="submit">View Wealth Management Companies</button>
        </form>
    </div>
</div>

<div class="service-3">
    <form>
        <div class="suggestGoals">
            <form>
                <table>
                    <tr>
                        <th>Suggested Budgeting Amount($):</th>
                    </tr>
                    <tr>
                        <td>${{suggestedAmount}}</td>
                    </tr>
                </table>
            </form>
        </div>
    </form>
</div>