{{> header}}

<div class="header">
    <h1>Services Page</h1>
</div>

<div class="service">
    <form action="/services/financial-managers" method="post">
        <button type="submit">View Financial Manager</button>
    </form>
</div>

<div class="service">
    <form action="/services/wealth-management" method="post">
        <button type="submit">View Wealth Management Companies</button>
    </form>
</div>