{{>header}}

<div class = "transaction">
    <div class ="row">
        <h2>Add Expenses</h2>
        <form action="/addtransaction" method="post">
            <p>
                <label>Select Spending Category:</label>
                <select name="SpendingCategory">    
                    <option value="Travel">Travel</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Groceries" selected="selected">Groceries</option> 
                    <option value="Shopping" selected="selected">Shopping</option>
                    <option value="Entertainment" selected="selected">Entertainment</option>
                    <option value="Other" selected="selected">Other</option>        
                </select>
            </p>
            <div class="row-sm">
            <input  type ="float" name="amount" placeholder="Amount Spent">
            </div>
            <div class="row-sm">
            <input type ="date" name="date" placeholder="Transaction Date">
            </div>
            <div class="row-sm">
            <input name="addtransaction" class="transactionbutton" value="Add" type="submit">
            </div>
        </form>
    </div>
</div>
<div class = "transaction">
    <div class = "row">
        <h2>Add Income</h2>
        <form action="/addincome" method="post">
            <p>
                <label>Select Income Category:</label>
                <select name="IncomeCategory">    
                    <option value="Salary">Salary</option>
                    <option value="Part-time Income">Part-time Income</option>
                    <option value="Other" selected="selected">Other</option>        
                </select>
            </p>
            <input  type ="float" name="income" placeholder="Amount Spent"><br>
            <input type ="date" name="date" placeholder="Transaction Date"><br>
            <input name="addIncome" class="transactionbutton" value="Add" type="submit">
        </form>
    </div>
</div>
<div class = "transaction">
    <div class = "row">
        <h2>Add CSV File</h2>
        <form action="/import" method="post" enctype="multipart/form-data">
            <label for="myFile">Choose a file (.csv):</label>
            <input type="file" accept=".xls,.xlsx,.csv" id="myFile" name="myFile"><br>
            <input type="submit" class="transactionbutton">
        </form>
    </div>
</div>
<div class = "transaction">
    <div class = "row">
        <h2>Modify Transactions</h2>
        <label>Select Transaction:</label>
        <form action="/modify" method="post">
            <input name="transactionNum" type ="float" placeholder="Transaction Number"><br>
            <br>
            <label>Change Spending Category:</label>
            <select name="ChangedSpendingCategory">    
                <option value="Travel">Travel</option>
                <option value="Utilities">Utilities</option>
                <option value="Groceries" selected="selected">Groceries</option> 
                <option value="Shopping" selected="selected">Shopping</option>
                <option value="Entertainment" selected="selected">Entertainment</option>
                <option value="Other" selected="selected">Other</option>        
            </select>
            <br>
            <input name="changeAmount" type ="number" placeholder="Amount Spent"><br>
            <input name="changeDate" type ="date" placeholder="Date"><br>
            <input name="modifytransaction" value="Modify" type="submit" class="transactionbutton">
        </form>
    </div>
</div>
<div class = "transaction">
    <div class = "row">
        <h2>Set Budgeting Goals</h2>
        <label>Enter Monthly Desired Budgeting Amount:</label>
        <form action="/setBudgetingGoal" method="post">
            <div class="row-sm">
            <input name="budgetAmount" type ="float" placeholder="Budget Amount">
            </div>
            <div class="row-sm">
            <input name="submit" value="Submit" type="submit" class="transactionbutton">
            </div>
        </form>
    </div>
</div>