*{
  color: rgb(0, 0, 0);
  margin: 0;
  width: 100%;
}
img {
  padding: 5px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:0;
  padding: 4pt;
  background-color:#12130F;
}

.navbar-logo {
  position: relative;
  background: url(../images/logo-resized.png);
  width: 100%;
  height: 6.125rem;
  left: 15px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

h1{
  padding: 10pt;
  color: #927C77;
  font-weight: bold;
  margin-top: 10pt;
}
h2{
  margin-top: 10pt;
  color:#8FCB9B;
  font-weight: bold;
  text-transform: uppercase;
} 
h3{
color:#8FCB9B;
padding: 10pt;
}

form { 
  display: inline-block;
  width: 25%;
}

label{
  color:rgb(0, 0, 0);
  padding: 5pt;
  text-align: center;
}

a{
  color: #e5e5e5;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10pt;
} 

th, td {
  width: 25%;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: hsl(175, 100%, 79%)}
tr:nth-child(odd){background-color: #00a7d1} */

th {
  background-color: #4CAF50;
  color: white;
}

tr{
  text-align: center;
  font-size: 14PT;
}

select {
  width : max-content;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  border: 0;
  outline: 0;
  background-color: #eee;
  padding: 10px;
  margin: 30px;
  width: 300px;
  box-sizing: border-box;
} 

input[type = "submit"]{
  color: rgb(255, 255, 255);
  width: 10rem;
  cursor: pointer;
  margin: 30px;
  padding: 10px;
}

a:hover{
  color:#000000;
  background-color:#8FCB9B
}

button{
display:inline-block;
padding: 10px;
border:0.1em solid #FFFFFF;
margin:16px;
border-radius:50pt;
box-sizing: border-box;
text-decoration:solid;
color:#8FCB9B;
background-color:#d5ffcb;
text-align:center;
transition: all 0.2s;
width: 150px;
}
button:hover{
color:#000000;
background-color:#8FCB9B;
  }

.display-transactions {
  border-collapse:separate;
  border-spacing:0;
}
.budget-goal {
  margin: auto;
  width: auto;
}
.appointment-info {
  display: inline-block;
  width: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: #8FCB9B;
  border-radius: 5%;
  padding: 10px;
}
.transactions {
  display: grid;
  width: 100%;
  margin: 0;
}
.expenses {
  grid-column: 2;
}
.income {
  grid-column: 1;
}

.services {
  display: grid;
  width: 100%;
  margin: auto;
}

.service-1 {
  grid-column: 1;
}

.service-2 {
  grid-column: 2;
}

.services-img {
  width: 50%;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent2 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.transaction{
  bottom: 0;
  width: 500pt;
  border: 3px solid #4CAF50;
  border-radius: 10pt;
  padding: 10pt;
  margin:10pt;
} 
.register-company label {
  text-align: center;
}
#pieIncome {
  width: 100%;
  height: 500px;
}

#pieExpenses {
  width: 100%;
  height: 500px;
}

#treeIncome {
  width: 100%;
  height: 500px;
}

#treeExpenses {
  width: 100%;
  height: 500px;
}
