*{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
}

img {
  padding: 5px;
  width: 400px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #30303d;
  background-image: url("background.jpg");
  background-repeat:round;
  margin:0;
  padding: 1%;
}

h1{
  padding: 10pt;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: fantasy;
  margin-top: 10pt;
}
h2{
  margin-top: 10pt;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-line: overline;

} 
h3{
color: black;
text-decoration:underline;
padding: 10pt;
}


form { 
  display: inline-block;
  width: 25%;
}

label{
  color:rgb(0, 0, 0);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10pt;
} 

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: hsl(175, 100%, 79%)}
tr:nth-child(odd){background-color: #00a7d1} */

th {
  background-color: #4CAF50;
  color: white;
}

tr{
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 14PT;
}

select {
  width : max-content;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  border: 0;
  outline: 0;
  background-color: #eee;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
} 

input[type = "submit"]{
  background-color: black;
  color: rgb(255, 255, 255);
  width: 10rem;
  cursor: pointer;
  margin-top: 30px;
}

button{
  background-color: black;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  width: 148px;
  cursor: pointer;
  margin-top: 30px;
}

.tab button {
  background-color: rgb(0, 0, 0);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  font-size: 17px;
}

.tab button:hover {
  background-color: rgb(255, 255, 255);
}

.tab button.active {
  background-color: #ccc;
} 

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent2 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.transaction{
  bottom: 0;
  width: 1000pt;
  border: 3px solid #ffffff;
  border-radius: 10pt;
  padding: 10pt;
  margin:10pt;
  text-align: center;
} 

.transactionbutton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
} 
.transactionbutton:hover{
  color:#000000;
  background-color:#FFFFFF;
} 

.register-company label {
  text-align: left;
}
